.image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.cardSecundaria {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenSecundaria {
    display: block;
    width: 90%;
    margin: 0 auto;
    object-fit: cover;
}

.image-upload-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30px;
}

.image-preview-item {
    position: relative;
    width: 150px;
    height: 150px;
    border: 1px dashed #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    cursor: pointer;
    position: relative;
}

.image-card.main-image {
    border: 2px solid #C29D49;
}

.imagenSecundaria {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-placeholder {
    text-align: center;
    font-size: 0.8em;
    color: #999;
}

.file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.delete-image-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 25px !important;
    height: 30px !important;
    min-width: 30px !important;
    line-height: 30px !important;
}

.delete-image-btn .mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.add-image-btn-container {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #ddd;
    border-radius: 8px;
    background-color: #fcfcfc;
}

.add-image-btn-container .mat-fab {
    background-color: #0574A1;
    color: white;
}

.upload-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0.9;
}

.image-card {
    position: relative;
    /* IMPORTANTE para que button se posicione dentro */
}