<div class="return">
    <button (click)="retornar()" mat-icon-button matTooltip="Regresar atrás">
        <mat-icon class="fw-bold">arrow_back</mat-icon>
    </button>
</div>

<div class="container">
    <div class="form">
        <form (ngSubmit)="onSubmit(repuestoForm)" #repuestoForm="ngForm">

            <div class="form-container">
                <h1 class="text-center">{{ titulo }}</h1>

                <div class="form-floating mb-3 mt-3">
                    <input type="text" [(ngModel)]="marca.name" name="Nombre" required placeholder="Nombre de la marca"
                        #nameRepuestoInput="ngModel" class="form-control" id="name">
                    <label for="name"><span class="text-danger">*</span>Nombre de la marca:</label>
                    <small class="form-text text-danger"
                        [style.display]="(nameRepuestoInput.invalid && nameRepuestoInput.touched) ? 'block' : 'none'">
                        Debe llenar este campo obligatorio
                    </small>
                </div>
            </div>

            <h4 class="text-center">Logo de la Marca</h4>

<div class="image-upload-grid">
  <div class="image-preview-item">
    <div class="image-card main-image">
      <img *ngIf="image.get('previewUrl')!.value"
           [src]="image.get('previewUrl')!.value"
           alt="Preview" class="imagenSecundaria" />

      <input type="file" (change)="onFileChange($event)" class="file-input"
             accept="image/png, image/jpg, image/jpeg" required />

      <button mat-mini-fab color="primary" class="upload-button" type="button"
              (click)="fileInput.click()" matTooltip="Subir imagen">
        <mat-icon>photo_camera</mat-icon>
      </button>

      <input #fileInput type="file" hidden (change)="onFileChange($event)"
             accept="image/png, image/jpg, image/jpeg" />
    </div>
  </div>
</div>



            <div class="mt-4">
                <button class="w-100 btn btn-primary" mat-raised-button color="primary" type="submit">
                    <mat-icon>{{iconButton}}</mat-icon>{{ buttonName }}
                </button>
            </div>
        </form>
    </div>
</div>
