.footer {
  height: 40px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  border-top: 1px solid #eeeeee;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
