.header {
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.header-container {
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
    box-shadow: 0 2px 0 0 #f9f9f9;
}

.header-container>* {
    margin: 0 10px;
}

.my-custom-badge {
    .mat-badge-content {
        background-color: rgb(247, 251, 4);
        color: black;
    }
}

.imagenRepuestoCarrito {
    height: auto;
    padding-bottom: 2px;
    width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}