.container {
  text-align: start;
  max-width: 1350px !important;
}

@media print {
  .no-print {
    display: none;
  }
}

.tab-content .table-custom {
    width: 100% !important;
}

.titulo {
  margin-bottom: -12px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.button-container button {
    flex: 1 1 calc(33.33% - 1rem);
}

@media (max-width: 767px) {
    .button-container button {
        flex: 1 1 100%;
    }
}

.precio-final {
    text-align: center;
    min-width: 100px !important;
    background-color: #d9e4db;
    display: inline-block;
    padding: 6px 10px;
    margin-right: 6px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(35, 35, 35);
    cursor: default;
    user-select: none;
    color: #1f703a;
}
