.image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.cardSecundaria {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenSecundaria {
    display: block;
    width: 90%;
    margin: 0 auto;
    object-fit: cover;
}