<div class="hero-banner">
    <div class="wrapper">
        <div class="d-md-flex align-items-center justify-content-center pb-5 text-center">
            <img class="logo pb-1" src="../../../assets/img/login.png" alt="img login">
            <h2 class="mx-3 mt-2">INICIO DE SESIÓN</h2>
        </div>

        <div class="signin mt-3">
            <form #usuarioForm="ngForm" (ngSubmit)="ingresarUsuario(usuarioForm, btn)">
                <div class="form-floating mt-1 mb-3">
                    <input type="email" id="email" name="email" placeholder="Correo electrónico" class="form-control"
                        required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" [(ngModel)]="email"
                        #emailInput="ngModel">
                    <label for="email"><span class="text-danger">*</span>Correo electrónico:</label>
                    <small id="mensajeErrorCelular" class="form-text text-danger"
                        [style.display]="(emailInput.invalid && emailInput.touched) ? 'block' : 'none'">
                        Ingrese un correo electrónico válido (ejemplo@email.com).</small>
                </div>
                <div class="mt-3 mb-3">
                    <div class="form-floating position-relative">
                        <input [type]="mostrarPassword ? 'text' : 'password'" name="password" id="password"
                            placeholder="Contraseña" class="form-control" required [(ngModel)]="password"
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$" #passwordInput="ngModel">
                        <label for="password"><span class="text-danger">*</span>Contraseña:</label>
                        <button type="button" class="btn position-absolute top-50 end-0 translate-middle-y"
                            (click)="mostrarPasswordFuntion()" style="border: none; background: transparent;">
                            <mat-icon>{{ mostrarPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                        </button>
                    </div>
                    <small id="mensajeErrorTexto" class="form-text text-danger"
                        [style.display]="(passwordInput.invalid && passwordInput.touched) ? 'block' : 'none'">
                        Ingrese al menos 8 caracteres, que incluya letras (al menos una mayúscula) y números.</small>
                </div>
                <div class="gap-2 mt-3 mb-3">
                    <button class="w-100 py-4" type="submit" mat-raised-button color="primary" #btn
                        (click)="btn.disabled = true; ingresarUsuario(usuarioForm, btn)">
                        <div class="d-flex align-items-center justify-content-center gap-2">
                            <ng-container *ngIf="!btn.disabled; else loadingTemplate">
                                <mat-icon>login</mat-icon>
                                <span>INGRESAR</span>
                            </ng-container>
                            <ng-template #loadingTemplate>
                                <mat-progress-spinner #spinner [diameter]="24"
                                    mode="indeterminate"></mat-progress-spinner>
                            </ng-template>
                        </div>
                    </button>
                </div>
            </form>
            <div class="separator mt-2 mb-2">
                <span>Ó</span>
            </div>
            <div class="mt-3 mb-3">
                <a href="{{this.apiUrl}}auth/google">
                    <button mat-raised-button class="w-100 button-google py-4">
                        <i class="bi bi-google"></i> Continuar con Google
                    </button>
                </a>
            </div>
            <div class="d-grid gap-2 mt-1 mb-3" style="text-align: center;">
                <p class="mt-1">¿No tienes cuenta? <a class="text-primary text-decoration-underline"
                        routerLink="/signin">Registrarse</a></p>
            </div>
        </div>
    </div>
</div>