.container {
    max-width: 1350px !important;
}

#cotizacion {
    border-collapse: collapse;
}

#cotizacion th, #cotizacion td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

#cotizacion thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #f8f9fa;
}

#cotizacion tbody tr:last-child td,
#cotizacion tbody tr:nth-last-child(2) td,
#cotizacion tbody tr:nth-last-child(3) td {
    border-top: 1px solid #dee2e6;
    font-size: 1.1em;
}

#cotizacion tbody tr:last-child td {
    border-bottom: 2px solid #dee2e6;
}

#cotizacion tbody .border-top-0 { 
    border-top: 0 !important; 
}
#cotizacion tbody .border-bottom-0 { 
    border-bottom: 0 !important; 
}

