<div class="wrapper">
    <div class="signin mt-1">
        <h1 style="font-size: 36px; margin-bottom: 45px;color: rgb(255, 213, 0); text-align: center; font-weight: 500;">BIENVENIDO A AUTOS VIP</h1>
        <div class="d-flex justify-content-between mb-5">
            <img style="height: 60px; width: auto;" src="../../../assets/img/porsche.png" alt="Home">
            <img style="height: 60px; width: auto;" src="../../../assets/img/audi.png" alt="Home">
            <img style="height: 58px; width: auto;" src="../../../assets/img/mercedes.png" alt="Home">
            <img style="height: 55px; width: auto;" src="../../../assets/img/mini.png" alt="Home">
            <img style="height: 60px; width: auto;" src="../../../assets/img/bmw.png" alt="Home">
        </div>
        <div class="row mb-4">
            <div class="col">
                <button class="w-100 mt-4" mat-raised-button id="boton" color="primary" style="background-color: rgb(0, 204, 0);"
                    routerLink="/signin"><mat-icon>person_add</mat-icon>REGISTRARSE</button>
            </div>
            <div class="col">
                <button class="w-100 mt-4" mat-raised-button id="boton" color="primary" style="background-color: #0066CC;"
                routerLink="/login"><mat-icon>login</mat-icon>INICIAR SESIÓN</button>
            </div>
        </div>
        <div class="mt-5 iconsAtrasSiguiente">
            <button class="mt-5" mat-mini-fab color="primary" routerLink="/" matTooltip="Atrás">
                <mat-icon>arrow_back
                </mat-icon>
            </button>
        </div>
    </div>
</div>