<div class="hero-banner">
  <div class="overlay-content">
    <div class="hero-image">
      <img src="../../../assets/img/acceso.png" alt="Imagen de bienvenida">
    </div>
    <div class="buttons">
      <button mat-raised-button class="btn-register py-4 mb-3" routerLink="/signin">
        <mat-icon>person_add</mat-icon>
        REGISTRARSE
      </button>

      <button mat-raised-button class="btn-login py-4" routerLink="/login">
        <mat-icon>login</mat-icon>
        INICIAR SESIÓN
      </button>
    </div>
  </div>
</div>